/* Put your custom styles here */

/* FREE y GRATIS inicio */

.free {
    min-height: 133px;
    padding-top: 25px;
}

.facturas2 {
    min-height: 37px;
}

.self {
    min-height: 57px;
    padding-top: 18px !important;
}

.invoicing {
    min-height: 105px;
    padding-top: 38px !important;
}

.extras {
    min-height: 105px;
    padding-top: 38px !important;
}

.sin {
    min-height: 105px;
    padding-top: 40px !important;
}


/* FREE y GRATIS fin */


/* A LA CARTA inicio*/

.ancho {
    max-width: 300px;
}

.h4 {
    padding: 0px 3px 5px 3px;
    font-size: 23px;
}

h6 {
    margin-top: 10px;
}

.email {
    min-height: 57px;
    padding-top: 18px !important;
}
.select {
    min-height: 105px;
}
.porcobrar {
    min-height: 123px;
}
.porcobrar p {
    padding-top: 28px !important;
}
.pay2 {
    min-height: 85px;
}
.agregue {
    min-height: 105px;
}
/* A LA CARTA fin*/


/* PREMIUM inicio */
.dedicated {
        min-height: 57px !important;
        padding: 0px 10px 0px 10px !important;
        font-size: 13px;
    }
.extras2 {
    min-height: 105px;
    padding-top: 8px !important;
}

.extras2 p {
    padding-top: 30px !important;
}

.extras3 {
    min-height: 105px;
    padding-top: 10px !important;
}

.extras3 p {
    padding-top: 28px !important;
}


/* PREMIUM fin */


/* ASESOR inicio */

.collect {
    min-height: 174px;
    padding-top: 48px !important;
}

.more {
    min-height: 100px;
    padding-top: 8px;
}

.website2 {
    min-height: 123px;
    padding-top: 40px !important;
}

.collect2 {
    min-height: 195px;
    padding-top: 55px !important;
}


/* ASESOR fin */


/* PRIMIUM y ADVISOR inicio*/

.core,
.website {
    min-height: 105px;
    padding-top: 38px !important;
}


/* PREMIUM y ADVISOR fin*/


/* GRATIS y PREMIUM inicio */

.invoicing2,
.core2 {
    min-height: 123px;
    padding-top: 40px !important;
}

.user1,
.todos {
    min-height: 85px;
    padding-top: 30px !important;
}


/* GRATIS y PREMIUM fin */


/* GRATIS, PREMIUM Y ASESOR inicio */

.location,
.all,
.can {
    min-height: 84px;
    padding-top: 28px !important;
}


/* GRATIS, PREMIUM Y ASESOR fin */


/* FREE y PREMIUM inicio */

.user,
.need {
    min-height: 64px;
    padding-top: 23px !important;
}


/* FREE y PREMIUM fin */


/* A LA CARTA, PREMIUM y ASESOR inicio */

.features p {
    padding: 10px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: -4px;
    font-size: 13px;
}


/* A LA CARTA, PREMIUM y ASESOR fin */


/* Medium devices (desktops, 992px and up) */


/* >= 992px y <= 1200px inicio */

@media (min-width: 992px) and (max-width: 1200px) {
    /* FREE inicio */
    .extras {
        min-height: 103px;
    }
    /* FREE fin */
    /* GRATIS inicio */
    .facturas2 {
        min-height: 57px;
    }
    .invoicing2 {
        min-height: 123px !important;
    }
    .user1 {
        min-height: 83px !important;
    }
    .sin {
        min-height: 132px ;
        padding-top: 30px !important;
    }
    /* GRATIS fin */
    /*A LA CARTE inicio */
    .h6 {
        padding-top: 10px;
        margin-bottom: -10px;
    }
    .pay,
    .pay p {
        min-height: 65px !important;
        padding-top: 10px !important;
    }
    /*A LA CARTE fin */
    /* A LA CARTA inicio */
    .h62 {
        padding-top: 10px;
        margin-bottom: -10px;
    }
    .porcobrar   {
        min-height: 127px;
    }
    .porcobrar p {
        padding-top: 10px !important;
    }
    .agregue {
        min-height: 126px;
    }
    /* A LA CARTA inicio */
    /*FEE y GRATIS inicio */
    .free {
        min-height: 123px;
    }
    /*FEE y GRATIS fin */
    /* A LA CARTE Y A LA CARTA inicio */
    .pastel-red {
        min-height: 123px;
    }
    .h4 {
        padding: 12px 0px 0px 0px!important;
        margin-top: 0px !important;
        margin-bottom: -4px;
        font-size: 20px;
    }
    /* A LA CARTE Y A LA CARTA fin */
    /* PREMIUM inicio */
    .unlimited {
        min-height: 59px;
        padding-top: 7px !important;
    }
    .dedicated {
        min-height: 57px !important;
        padding: 0px 10px 0px 10px !important;
        font-size: 13px;
    }
    .extras3 {
        min-height: 124px;
    }
    /* PREMIUM fin */
    /* ASESOR inicio */
    .collect2 {
        min-height: 220px;
    }
    /* ASESOR fin */
    /* FREE, A LA CARTE y PREMIUM inicio */
    .extras, .addand, .extras2 {
        min-height: 110px;
    }
    /* FREE, A LA CARTE y PREMIUM fin */
    /* FREE y PREMIUM inicio */
    .user, .need {
        min-height: 101px;
    }
    .user,
    .need {
        padding-top: 40px !important;
    }
    /* FREE y PREMIUM fin */
    /* GRATIS, PREMIUM y ASESOR inicio */
    .extras3 {
        min-height: 130px;
    }
    /* GRATIS, PREMIUM y ASESOR fin */
    /* A LA CARTE, PREMIUM y ADVISOR inicio */
    h6 {
        margin-bottom: -10px;
    }
    .features p {
        padding: 10px 0px 0px 0px;
        margin-top: 0px;
        margin-bottom: -4px;
        font-size: 13px;
    }
    /* A LA CARTE, PREMIUM y ADVISOR fin */
    /* ADVISOR inicio */
    .collect {
        min-height: 216px;
        padding-top: 40px !important;
    }
    /* ADVISOR fin */
    /* ADVISOR y ASESOR inicio */
    .more {
        min-height: 121px !important;
        padding: 8px 9px 10px 9px;
    }
    .more p {
        padding: 10px 7px 10px 7px;
    }
    .website {
        min-height: 105px;
        padding-top: 25px !important;
    }
    /* ADVISOR y ASESOR fin */
}


/* >= 992px y <= 1200px fin */


/* <= 992px y >= 767px */

@media (max-width: 992px) and (min-width: 767px) {
    /* FREE inicio */
    .extras {
        min-height: 105px !important;
        padding-top: 38px !important;
    }
    /* FREE fin */
    /* GRATIS inicio */
    .invoicing2 {
        min-height: 123px !important;
    }
    .user1 {
        min-height: 85px;
    }
    /* GRATIS fin */
    /* A LA CARTE inicio */
    .select {
        min-height: 104px !important;
    }
    .pay {
        min-height: 63px !important;
    }
    li.addand {
        min-height: 100px;
    }
    /* A LA CARTE fin */
    /* A LA CARTE y A LA CARTA inicio */
    .locations {
        min-height: 84px;
    }
    /* A LA CARTE y A LA CARTA fin */
    /* ADVISOR y ASESOR inicio */
    .more {
        padding-top: 20px !important;
    }
    /* ADVISOR y ASESOR fin */
}


/* <= 766px y >= 385px (Movil) */

@media (max-width: 766px) and (min-width: 385px) {
    /* FREE y GRATIS inicio */
    .free {
        min-height: 75px;
        padding-top: 0px;
    }
    .invoicing {
        min-height: 50px !important;
        padding-top: 10px !important;
    }
    .upto,
    .self,
    .invoicing,
    .location,
    .user,
    .extras {
        min-height: 40px !important;
        padding-top: 5px !important;
    }
    /* FREE y GRATIS fin */
    /* GRATIS inicio */
    .invoicing2 {
        min-height: 70px !important;
        padding-top: 10px !important;
    }
    .user1 {
        min-height: 50px !important;
        padding-top: 10px !important;
    }
    .sin {
        min-height: 50px !important;
        padding-top: 10px !important;
    }
    /* GRATIS fin */
    /* A LA CARTE inicio */
    .select {
        min-height: 120px;
    }
    /* A LA CARTE fin */
    /* TODAS inicio */
    .free h4,
    .pastel-red h4,
    .pastel-green h4,
    .pastel-blue h4 {
        font-size: 30px;
    }
    .features li {
        font-size: 20px;
    }
    /* TODAS fin */
    /* A LA CARTE y A LA CARTA inicio */
    .upto2,
    .email {
        min-height: 40px !important;
        padding-top: 5px !important;
    }
    /* A LA CARTE y A LA CARTA fin */
    /* PREMIUN inicio */
    .core,
    .all,
    .need {
        min-height: 60px !important;
        padding-top: 14px !important;
    }
    .core2,
    .todos {
        min-height: 70px !important;
        padding-top: 10px !important;
    }
    .extras3 {
        min-height: 100px !important;
        padding-top: 10px !important;
    }
    .extras3 p {
        padding-top: 10px !important;
    }
    /* PREMIUN fin */
    /* ADVISOR inicio */
    li.website {
        padding-top: 20px !important;
    }
    .collect {
        padding-top: 40px !important;
    }
    /* ADVISOR fin */
    /* ASESOR inicio */
    .website2 {
        min-height: 80px !important;
        padding-top: 10px !important;
    }
    .collect2 {
        min-height: 130px;
        padding-top: 10px !important;
    }
    /* ASESOR fin */
    /* ADVISOR y ASESOR inicio */
    .can {
        padding-top: 10px !important;
    }
    /* ADVISOR y ASESOR fin */
}


/* <= 384px y >= 0*/

@media (max-width: 384px) and (min-width: 0px) {
    /* FREE y GRATIS inicio */
    .free {
        min-height: 75px;
        padding-top: 0px;
    }
    .invoicing {
        min-height: 50px !important;
        padding-top: 10px !important;
    }
    .upto,
    .self,
    .invoicing,
    .location,
    .user,
    .extras {
        min-height: 40px !important;
        padding-top: 5px !important;
    }
    /* FREE y GRATIS fin */
    /* GRATIS inicio */
    .invoicing2 {
        min-height: 70px !important;
        padding-top: 10px !important;
    }
    .user1 {
        min-height: 50px !important;
        padding-top: 10px !important;
    }
    .sin {
        min-height: 50px !important;
        padding-top: 10px !important;
    }
    /* GRATIS fin */
    /* A LA CARTE inicio */
    .select {
        min-height: 120px;
    }
    /* A LA CARTE fin */
    /* TODAS inicio */
    .free h4,
    .pastel-red h4,
    .pastel-green h4,
    .pastel-blue h4 {
        font-size: 30px;
    }
    .features li {
        font-size: 20px;
    }
    /* TODAS fin */
    /* A LA CARTE y A LA CARTA inicio */
    .upto2,
    .email {
        min-height: 40px !important;
        padding-top: 5px !important;
    }
    /* A LA CARTE y A LA CARTA fin */
    /* PREMIUN inicio */
    .core,
    .all,
    .need {
        min-height: 60px !important;
        padding-top: 14px !important;
    }
    .core2,
    .todos {
        min-height: 70px !important;
        padding-top: 10px !important;
    }
    .extras3 {
        min-height: 100px !important;
        padding-top: 10px !important;
    }
    .extras3 p {
        padding-top: 10px !important;
    }
    /* PREMIUN fin */
    /* ADVISOR inicio */
    li.website {
        padding-top: 20px !important;
    }
    .collect {
        padding-top: 40px !important;
    }
    /* ADVISOR fin */
    /* ASESOR inicio */
    .website2 {
        min-height: 80px !important;
        padding-top: 10px !important;
    }
    .collect2 {
        min-height: 130px;
        padding-top: 10px !important;
    }
    /* ASESOR fin */
    /* ADVISOR y ASESOR inicio */
    .can {
        padding-top: 10px !important;
    }
    /* ADVISOR y ASESOR fin */
}
